<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	
	<!-- 
		/**
		* @author YD
		* @version 1.0
		* @Description 数据层
		*/
	 -->
	 
	<bean id="manageDao"  class="com.yd.dao.impl.ManageDaoImpl">
	<property name="sessionFactory"><ref bean="sessionFactory"/> </property>
	</bean>
	
	<bean id="classifyDao"  class="com.yd.dao.impl.ClassifyDaoImpl">
	<property name="sessionFactory"><ref bean="sessionFactory"/> </property>
	</bean>
	
	<bean id="userDao"  class="com.yd.dao.impl.UserDaoImpl">
	<property name="sessionFactory"><ref bean="sessionFactory"/> </property>
	</bean>
	
	<bean id="productDao"  class="com.yd.dao.impl.ProductDaoImpl">
	<property name="sessionFactory"><ref bean="sessionFactory"/> </property>
	</bean>
	
	<bean id="noticeDao"  class="com.yd.dao.impl.NoticeDaoImpl">
	<property name="sessionFactory"><ref bean="sessionFactory"/> </property>
	</bean>
	
	
	<bean id="orderGoodsDao"  class="com.yd.dao.impl.OrderGoodsDaoImpl">
	<property name="sessionFactory"><ref bean="sessionFactory"/> </property>
	</bean>
	

	<bean id="shopCartDao"  class="com.yd.dao.impl.ShopCartDaoImpl">
	<property name="sessionFactory"><ref bean="sessionFactory"/> </property>
	</bean>
	
</beans>
